body {
  background-color: #081a41;
  margin: 0;
  border: 0;
  padding: 0;
}

#title {
  background-color: #0000ff;
  color: white;
  margin: 20px;
  text-align: center;
  font-family: arial;
  border: 6px solid #0000ff;
  border-radius: 6px;
}

footer {
  color: grey;
  text-align: center;
  margin: 6px;
  float: bottom;
}

#definition {
  color: #006400;
  margin: 6px;
  font-family: seriff
}

.textImportant {
  color: #00af66;
}

#contact {
  margin: 0;
  border: 0;
  padding: 12px;
  float: bottom;
}
