body {
  background-color: #081a41;
  margin: 0;
  border: 0;
  padding: 0;
}

#title {
  background-color: #0000ff;
  color: white;
  margin: 20px;
  text-align: center;
  font-family: arial;
  border: 6px solid #0000ff;
  border-radius: 6px;
}

footer {
  color: grey;
  text-align: center;
  margin: 6px;
  float: bottom;
}

#definition {
  color: #006400;
  margin: 6px;
  font-family: serif, fantasy;
}

.textImportant {
  color: #00af66;
  font-weight: bold;
}

#contact {
  margin: 0;
  border: 0;
  padding: 12px;
  float: bottom;
}

.align {
  display: flex;
  align: center;
}

#imgFacebook {
  width: 6px;
  height: 6px;
  border: 2px solid #c0645a;
  border-radius: 6px;
}

#imgDiscord {
  width: 6px;
  height: 6px;
  border: 2px solid #f0635f;
  border-radius: 6px;
}

#facebookContact {
  background-color: #0008b5;
  border: 2px solid #0008b5;
  border-radius: 6px;
  text-decoration: none;
}

#discordContact {
  background-color: #bf00ff;
  border: 2px solid #bf00ff;
  border-radius: 6px;
  text-decoration: none;
}
